$greenBackground:#123534;
$redBackground:#3d1e28;

$greenText:#109165;
$redText:#c23437;

$greyText:#484d5b;

$purple: #5D45DC;

$lighterBackgroundBlue:#2b3552;

.orderBookContainer{
    max-width: 340px;
    color:rgba(186,186,186,1.00);
    font-family: Iosevka Custom,monospace;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    height:100vw;
}

.reconnectModalContent {
    background-color:$lighterBackgroundBlue;
    color:rgba(186,186,186,1.00);
    font-family: Iosevka Custom,monospace;
    font-weight: bold;
    text-align: center;
}

.reconnectModalBackdrop{
    // opacity: 0.8 !important;
}
.modal-backdrop.show {
    opacity: 0.8 !important;
}

.orderBookTitle{
    text-align: left;
    position:relative;
    top:-6px;
}

.orderBookHeader{
    min-width: 300px;
    font-weight: bold;
    color: $greyText;
    border-top: 1px solid $greyText;
    border-bottom: 1px solid $greyText;
}

.orderBookRow{
    position: relative;
    z-index: 2;
    min-width: 300px;
}

.quantity{
    text-align: right;
    z-index: 2;
}

.price{
    &.green{
        color:$greenText;
    }
    &.red{
        color:$redText;
    }
    font-weight: bold;
    position: relative;
    text-align: right;
    z-index: 2;
    z-index: 2;
}

.spread{
    color:#484d5b;
    height: 30px;
    position:relative;
    top:4px;
}

.noConnection{
    color:#484d5b;
    // border-top: 1px solid $greyText;
    border-bottom: 1px solid $greyText;
    height: 30px;
    position:relative;
    top:4px;
}

.settingsLabelCol{
    text-align: right;
}

.settingsInputCol{
    text-align: center;
}

.settingsInput{
    width: 100%;
}

.settingsValueCol{
    text-align: left;
}

.toggleButton{
    background-color:$purple;
    border:0;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;

    &:hover{
        border:0;
        background-color:$purple;
        opacity: 0.8;
    }

    &:focus{
        border:0;
        background-color:$purple;
        opacity: 0.8;
    }
}

.bidsHeader{
    display: none;
}

.responsiveAskRows{
    flex-direction: column !important;
    display: flex !important;
}

@media (min-width:768px){
    .bidsHeader{
        display: flex;
    }

    .responsiveAskRows{
        flex-direction: column-reverse !important;
        display: flex !important;
    }

    .orderBookContainer{
        max-width: 700px;
    }

    .orderBookTitle{
        text-align: left;
        position:relative;
        top:24px;
    }
}

:export {
    greenBackground: $greenBackground;
    redBackground: $redBackground;

}
